@import "~bootstrap/scss/bootstrap-grid.scss"

$blue: #01136F
$lightblue: #5194DD

@font-face
  font-family: 'AmericanCaptain'
  src: url('./assets/fonts/AmericanCaptain.woff') format('woff'), url('./assets/fonts/AmericanCaptain.ttf') format('truetype'), url('./assets/fonts/AmericanCaptain.otf') format('otf')
  font-weight: 600
  font-style: normal
  font-display: swap

html
  min-height: 100%
  margin: 0

  body
    color: 000000
    margin: 0 auto
    font-family: 'Arial Narrow'
    min-height: 100%
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    margin-top: 1em

    p
      margin: 0

    h1
      margin: 0
      color: $blue
      font-family: 'AmericanCaptain'
      font-size: 3em

    h2
      margin: 0
      color: $blue
      font-family: 'AmericanCaptain'
      font-size: 2em

    h3
      margin: 0.5em 0
      color: $lightblue
      font-size: 1em

    .lightblue
      color: $lightblue

    .blue
      color: $blue

    .card
      margin-bottom: 1em
      width: 18rem

      .list-group-item
        display: flex
        justify-content: space-between
